@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap");

.display {
  background-color: blueviolet;
  text-align: center;
  color: #fff;
  padding: 1rem;
  font-weight: 900;
  font-size: 24px;
  border-radius: 5px;
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: display 1s ease-out forwards;
}

@keyframes display {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ul {
  align-items: center;
  text-align: center;
  justify-content: center;
  list-style-type: none !important;
  animation: list 1s ease-in forwards;
}

@keyframes list {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ul li {
  border-bottom: 2px solid #e5d1fa;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  transform: translateX(-20px);
}

.btn {
  border-radius: 10px;
  border: 0;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
